@keyframes resaturate {
    0%   {filter:grayscale(100%);}
    10%  {filter:grayscale(90%);}
    20%  {filter:grayscale(80%);}
    30%  {filter:grayscale(70%);}
    40%  {filter:grayscale(60%);}
    50%  {filter:grayscale(50%);}
    60%  {filter:grayscale(40%);}
    70%  {filter:grayscale(30%);}
    80%  {filter:grayscale(20%);}
    90%  {filter:grayscale(10%);}
    100% {filter:grayscale(0%);}
}