/*
	Section 1. Headers
*/

header{
	background-repeat: no-repeat;
	background-size: cover;
	line-height:1.25;
}

h1.page-title{
	text-align:left;
	padding: 25px 0px 0px 0px;
	font-weight:bold;

	/*display:inline-block;*/
	/*max-width:69%;*/
	/*text-align:center;*/
	/*letter-spacing:0.2em;*/
	/*font-family: 'Gravitas One', cursive;*/
	/*color:#DDD;*/
    -webkit-text-fill-color: #333; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #DDD;
    /*text-shadow: 1px 1px 4px lightblue;*/


}

h3.page-subtitle{
	display:none;
	font-style:italic;
	text-align:right;

	/*-webkit-text-fill-color: #333;  Will override color (regardless of order) 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DDD;
*/
    background-color:rgba(255,255,255,0.75);
    padding: 5px 10px;

}

div.title-box{
	display:inline-block;
  	margin: 0 auto;
  	text-align:center;
}

img.header-logo{
	margin: 0px auto;
}

img.sub-header-logo{
	display:inline-block;
	z-index:10;
	height:75px;
	vertical-align: top;
}

/* Responsive, pretty header */
/*@media(min-width: 400px){
	h1.page-title{
		font-size:2.5em;
	}
	img.sub-header-logo{
		height:100px;
	}
}*/

@media(min-width: 600px){
	h1.page-title{
		font-size:4em;
	}
	img.sub-header-logo{
		height:150px;
	}
}

@media(min-width:820px){
	div.title-box{
		padding-top:20px;
	}
	h3.page-subtitle{
		display:inline-block;
	}
	header{
		min-height:250px;
	}
}

div.header-container{
		position: relative;
	    /*width: 100%;*/
	    max-width: 960px;
	    margin: 0 auto;
	     /*padding: 0 20px; */
	    box-sizing: border-box;
	}


@media(min-width: 1000px){
	img.sub-header-logo{
		height:200px;
		margin-left:10px;
	}
}




















/*

	Section 2: Layouts & Standards;

*/

body{
	font-size:15px;
}

p{margin-bottom:1rem;}

p.small{
	font-size:0.8em;
}

h3{
	font-size:2em;
}

h4{
	font-size:1.8em;
}

h5{
	font-size:1.5em;
	margin-bottom:0.5rem;
}


h5.border-b{
	border-bottom: 1px solid #999;
}

h4.border-b{
	border-bottom: 2px solid #999;
}

.yurtski-blue{
	color:#66ABDF;
}

.yurtski-yellow{
	color:#F6EF2A;
}

.bg-yurtski-blue{
	background-color:#66ABDF;
	color:#FFF;
}

.page-main-content{
	min-height: 50vh;
	padding: 0px 4px;
}

div.yurt{
	padding: 10px;
}

.attribution{
	position:absolute;
	bottom:0px;
	right:0px;
	margin:0px;
	color:#999;
	background-color:rgba(255,255,255,.5);
	font-size:0.5rem;
	text-decoration:none;
}

div.table{
	/*max-width:320px;*/
	overflow: scroll;
}

.container{
	padding-left:6px;
	padding-right:6px;
	padding-top:5px;
}

/*@media (min-width: 400px) {

	.container{
		padding: 0px;
	}

	div.table{
		max-width:100%;
	}
}*/

iframe.embedded-video{
  width:320px;
  height:200px;
}

@media screen and (min-width: 660px){
  iframe.embedded-video{
  	width:560px;
	height:315px;
  }
}

.caption{
	font-style:italic;
	font-size: 1.3rem;
}

table{
	font-size:0.8em;
}

td a.button{
	font-size:0.7em;
}

@media screen and (min-width: 660px){
  table{
	font-size:1em;
}
}




/*

	Section 3: Callouts and Objects

*/

div.call-to-action{
	position:relative;
	margin:5px 0px;
	background-size: cover;
	height:100px;
}

div.call-to-action h4{
	position:absolute;
	right:0;
	left:0;
	color: black;
	top: 30px;
	background-color:rgba(255,255,255,0.85);
	padding:10px;
	text-transform: uppercase;
	font-style:italic;
	font-stretch: ultra-expanded;
	font-size:2rem;
}

@media (min-width: 600px) {
	div.call-to-action{
		height:250px;
	}

	div.call-to-action h4{
		top: 140px;
		padding:20px;
		text-transform: uppercase;
		font-style:italic;
		font-stretch: extra-expanded;
		font-size:2.75rem;
	}
}

img.social{
	filter: grayscale(100%);
}

img.social:hover{
	filter: grayscale(0%);
	cursor:pointer;
	animation-name: resaturate;
    animation-duration: 0.25s;
}

.focus-box{
	display:inline-block;
	margin: 10px;
	border-radius:5px;
	border: 2px solid #66ABDF;
	max-width:400px;
	min-width:320px;
	position: relative;
	margin-bottom:30px;
	text-align:left;
}

.focus-box h5{
	background-color: #66ABDF;
	/*background-color: #AAA;*/
	color: white;
	margin:0;
	padding:0px 5px;
}

.focus-box h6.focus-emphasis{
	font-size: 1.2em;
	margin:0;
	padding:0px 5px;
}

.focus-box p{
	padding-left:5px;
}

.sold-out{
	background-color:orangered;
	color: #EEE;
}

.location{
	font-style:italic;
	font-weight:800;
}

.no-border{
	border:none;
}

div.breadcrumbs{
	font-size:1em;
	padding: 5px;
}

div.breadcrumbs a{
	/*background-color: lightgray;*/
	padding: 2px;
	border-radius: 2px;
	text-decoration:none;
}

div.breadcrumbs a:hover{
	background-color: lightgray;
}

.map-library{
	text-align:center;
	margin-top:25px;
	border: 3px solid #66ABDF;
	padding: 2px;
}

.toggle{
	padding: 0px;
	display: inline-block;
	margin-top: -15px;
	background-color:white;
	border-radius: 3px;
	color: #66ABDF;
	border: 1px solid #66ABDF;
}

div.toggle h4, 
div.toggle h5, 
div.toggle h6{
	display:inline-block;
	padding: 5px 20px;
	margin: 0px;
}

div.toggle h4:hover, 
div.toggle h5:hover, 
div.toggle h6:hover{
	background-color: #66ABDF;
	color: white;
	cursor: pointer;
}

div.toggle h5.chosen, h6.chosen, h4.chosen{
	background-color:#66ABDF;
	color: white;
}

.banner-box{
	border: 2px solid #66ABDF;
	border-radius: 5px;
	padding: 10px;
}

.banner-box h5,h6{
	padding: 0px 0px;
	margin: 0px 0px;
	font-weight:bold;
}

.highlight-border{
	border: 3px solid #ddd;
	border-radius: 3px;
	padding: 1px;
}

.highlight-border:hover{
	border: 3px solid #66ABDF;
}

.faq-section{
	font-size:1.8rem;
	margin-top:5px;
	padding: 2px;
	letter-spacing: 0rem;
}

.faq-section:before {
    content: "+ ";
    font-weight: bold;
    font-style: italic;
}

.faq-section:hover{
	background-color:#EEE;
	cursor:pointer;
}

.faq-expand{
	margin-left:10px;
	margin-bottom:25px;
}

div.tile-button{
	border-radius:5px;
	max-with:300px;
	background-size:cover;
}

div.tile-button a{
	padding-top:80px;
	padding-bottom:125px;
	font-size:2em;
	font-family:sans-serif;font-family:sans-serif;
	border: none;
	color: white;
	text-transform:none;
}

div.tile-button a:hover{
	color:yellow;
}

a div.tile-button h3:hover{
	color:yellow;
}



div.tile-button:hover{
	/*border: 1px solid white;*/
	background-color:rgba(255,255,255,0.4);
}




.hero-button{
	margin: 4px 0px;
	padding: 0px 10px;	
}


.available{
	text-align: center;
    color: black;
    padding: 10px;
    background-color: #d4f296;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}


.highlight{
	border: 1px solid orange;
	border-radius: 5px;
	padding: 3px;
	background-color:rgba(255,165,0,0.05)
}


.info-expand{
	z-index:100;
	margin-left: 10px;
	background-color:white;
}

.description-box{
  z-index:1;
  margin-top: -20px;
  padding: 15px;
  background-color:#FCFCFC;
  border: 2px solid orange;
  border-radius: 5px;
  margin-bottom: 10px;
}


.rounded{
	border-radius: 5px;Ëš
}





/* 

	Section 4: Footers 

*/


footer{
	padding-top: 0px;
	background-color:lightgray;
	overflow:scroll;
}

footer div input.email{
	max-width:300px;
}

footer hr{
	margin-top:0rem;
	margin-bottom:1.5rem;

}

