/* Flickity fullscreen v1.0.1
------------------------- */

.flickity-enabled.is-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.9);
  padding-bottom: 35px;
  z-index: 1;
}

.flickity-enabled.is-fullscreen .flickity-page-dots {
  bottom: 10px;
}

.flickity-enabled.is-fullscreen .flickity-page-dots .dot {
  background: white;
}

/* prevent page scrolling when flickity is fullscreen */
html.is-flickity-fullscreen {
  overflow: hidden;
}

/* ---- flickity-fullscreen-button ---- */

.flickity-fullscreen-button {
  display: block;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

/* right-to-left */
.flickity-rtl .flickity-fullscreen-button {
  right: auto;
  left: 10px;
}

.flickity-fullscreen-button-exit { display: none; }

.flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit { display: block; }
.flickity-enabled.is-fullscreen .flickity-fullscreen-button-view { display: none; }

.flickity-fullscreen-button .flickity-button-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 4px;
  top: 4px;
}


/* 
  My flickity overrides 
*/
 .flickity-fullscreen-button {
  top: 15px;
}

.flickity-fullscreen-button .flickity-button-icon {
  left:22px;
}

.flickity-prev-next-button{
  border-radius:15%;
}

.carousel.is-fullscreen{
  margin-top:0px;
}

/*
  More... 
*/

.carousel img{
  display: block;
  height: 200px;
  /* set min-width,
     allow images to determine cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  /*border-left:5px solid #222;*/
  /*border-right:5px solid #222;*/
}

.carousel.is-fullscreen img{
  height: auto;
  max-height: 100%;
}


/*p.img-caption{
  position:absolute;
  bottom: 0px;
  left: 5px;
  right:5px;
  margin-bottom:0px;
  background-color:rgba(0,0,0,0.75);
  color: white;
  font-size: 0.8em;
  padding:5px;
}
*/