/*
	YurtSki Main Stylesheet
*/

#splash-header {
    text-align: center;
    color: #f8f8f8;
    background: url(../img/bowl-bg.jpg) no-repeat center center;
    background-size: cover;
    position:relative;
}

#splashlogo{
	margin-top:15px;
	width:30%;
	z-index:5;
	position:absolute;
	top:5px;
	left: 35%;
}

img.pagelogo{
	margin-top:25px;
	width:15%;
	margin-bottom:10px;
}

h1{
	font-size:1.8em;
	font-weight:800;
}

h2{
	font-size:1.5em;
}

h3{
	padding-top:10px;
	padding-bottom:5px;
	font-size:1.2em;
	font-weight:600;
}

h4{
	font-size:1.1em;
	font-weight:500;
}

p{
	color: #444;
	margin-bottom:10px;
}

span.bio-em{
	font-weight:200;
	font-style:italic;
}

img.bio{
	width:400px;
}

img.social{
	filter: grayscale(100%);
}

@keyframes resaturate {
    0%   {filter:grayscale(100%);}
    10%  {filter:grayscale(90%);}
    20%  {filter:grayscale(80%);}
    30%  {filter:grayscale(70%);}
    40%  {filter:grayscale(60%);}
    50%  {filter:grayscale(50%);}
    60%  {filter:grayscale(40%);}
    70%  {filter:grayscale(30%);}
    80%  {filter:grayscale(20%);}
    90%  {filter:grayscale(10%);}
    100% {filter:grayscale(0%);}
}

img.social:hover{
	filter: grayscale(0%);
	cursor:pointer;
	animation-name: resaturate;
    animation-duration: 0.5s;
}

div.page-header{
	background-size: cover;
	position:relative;
}

section.wrapper{
	padding-top:40px;
	padding-left:5px;
	padding-right:10px;
	max-width:950px;
	margin:0 auto;
}

aside.right-sidebar{
	padding-left:5px;
}

img.bio{
	padding:5px;
}

/* Navigation (On Computer)*/
nav#main{
	background-color:rgba(25,25,25,0.75);
	text-align:center;
	display:block;
	position:absolute;
	right:0;
	left:0;
	bottom:0px;
}

nav#main a{
	text-transform: uppercase;
	letter-spacing: 1px;
	display:inline-block;
	color:white;
	padding: 15px 5px 15px 5px;
	margin:0 1%;
	z-index:100;
	font-size:18px;
	text-shadow:2px 2px 4px #000;
}

nav#main a:hover:not(.icon){
	background-color:#01AEF3;
	text-shadow:2px 2px 4px #555;
	animation-name: resaturate;
    animation-duration: 0.5s;
}


nav#main a.active{
	color:#FCF900;
}

/* Hide the link that should open and close the topnav on small screens */
nav#main .icon {
    display: none;
}

iframe.embedded-video{
	width:560px;
	height:315px;
}
