body{
  text-align:center;
  background-color:darkgrey;
  width:100%;
}
.group {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 150px;
    bottom: 3px;
    left: calc(50% - 8px);
    content: " ";
    display: block;
    background: orange;
}

span.no-gh{
  color:blue;
}

.group.out {
  background: lightgreen;
  left: calc(50%);
}

span.legend{
  position:inherit;
}

section.limiter{
  background-color:white;
  min-width:350px;
}

table#legend{
  margin-left:10px;
}
table#legend td{
  padding-left:5px;
}
