body{
  text-align:center;
  background-color:darkgrey;
  width:100%;
}
.group {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 150px;
    bottom: 3px;
    left: calc(50% - 8px);
    content: " ";
    display: block;
    background: black;
}

.group.out {
  background: lightgreen;
  left: calc(50%);
}

section.limiter{
  background-color:white;
  min-width:350px;
}
