/*
	Any and all responsive queries live here
*/

/* Header */
img.header-logo{
	height:100px;
}

.large-screen-only{
    display:none;
}

@media (min-width: 410px) {
	img.header-logo{
		height:150px;
	}
}

@media (min-width: 820px) {
	img.header-logo{
		height:198px;
	}
    .small-screen-only{
        display:none;
    }
    .large-screen-only{
        display:block;
    }
}

/*
@media only screen and (max-width: 700px) and (min-width: 600px){

  nav#main div#nav-buttons a{
    text-transform: uppercase;
    letter-spacing: 1px;
    display:inline-block;
    color:white;
    padding: 5px 2px 5px 2px;
    margin:0 4px;
    font-size:18px;
    text-shadow:2px 2px 4px #000;
  }

}*/

@media only screen and (max-width: 800px){

    header div.title-box h1.page-title{
        font-size:2.5em;
        -webkit-text-stroke-width: 1px;
    }

    .smaller-on-mobile{
        width:33%;
        max-width:150px;
    }

    .no-shrink-on-mobile{
        text-align:center;
        padding-left:2px;
        padding-right:2px;
        width:33%;
    }

    ul.sidebar-links li a.button{
        width:100%;
    }

    nav#main div#nav-buttons a{
        text-transform: uppercase;
        letter-spacing: 1px;
        display:inline-block;
        color:white;
        padding: 5px 2px 5px 2px;
        margin:0 4px;
        font-size:18px;
        text-shadow:2px 2px 4px #000;
      }
    }

}

