@media screen and (max-width: 600px) {

  section.wrapper{
	padding-top:10px;
	padding-left:5px;
	padding-right:10px;
  }

  /* Sidebar */
  aside.right-sidebar{
  	display:none;
  }

  div.only-on-mobile{
    display:block;
  }

  img.bio{
	  width:250px;
    margin: 0 auto;
    text-align:center;
  }

  #splashlogo{
	/*margin-top:50px;*/
	width:60%;
	z-index:1;
	position:absolute;
	top:100px;
	left: 20%;
  }

  img.pagelogo{
  	width:50%;
  	margin-top:70px;
  }

  /* Navigation */
  nav#main{
  	position:fixed;
  	top:0;
  	right:0;
  	left:0;
  	z-index:3;
    bottom:unset;

  }
  nav#main a:not(:first-child) {
  	display: none;
  }

  nav#main a.icon {
  	display:block;
    position:fixed;
    top:0px;
    right:10px;
    color:white;
    font-weight:400;
  }

  nav#main a.logo {
    display: block;
    float:left;
    color:white;
    font-weight:400;
  }

  nav#main.responsive {
  	position: fixed;
  }

  nav#main.responsive a {
    display: block;
    clear:both;
    /*width:100%;*/
    /*text-align: left;*/
  }

  nav#main.responsive a.icon {
  	display:block;
    position:fixed;
    top:10px;
    right:10px;
    /*color:white;*/
    font-weight:400;
  }

  iframe.embedded-video{
	width:320px;
	height:200px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px){

  section.wrapper{
    padding-top:10px;
    padding-left:5px;
    padding-right:10px;
  }

  nav#main a{
    text-transform: uppercase;
    letter-spacing: 1px;
    display:inline-block;
    color:white;
    padding: 5px 2px 5px 2px;
    margin:0 4px;
    z-index:100;
    font-size:18px;
    text-shadow:2px 2px 4px #000;
  }

  iframe.embedded-video{
  width:400px;
  height:220px;
  }
}
