/*
	Any and all responsive queries live here
*/

/* Header */
img.header-logo{
	height:100px;
}

@media (min-width: 410px) {
	img.header-logo{
		height:150px;
	}
}

@media (min-width: 700px) {
	img.header-logo{
		height:250px;
	}
}

@media only screen and (max-width: 700px) and (min-width: 600px){

  nav#main div#nav-buttons a{
    text-transform: uppercase;
    letter-spacing: 1px;
    display:inline-block;
    color:white;
    padding: 5px 2px 5px 2px;
    margin:0 4px;
    font-size:18px;
    text-shadow:2px 2px 4px #000;
  }

}

@media (max-width: 600px){
    .smaller-on-mobile{
        width:33%;
        max-width:150px;
    }
}