/*
  Default: Mobile
 */
section.wrapper{
  padding-top:10px;
  padding-left:5px;
  padding-right:10px;
}

/* Sidebar */
aside.right-sidebar{
  display:none;
}

img.bio{
  width:250px;
  margin: 0 auto;
  text-align:center;
}

iframe.embedded-video{
  width:320px;
  height:200px;
}

#splashlogo{
  margin: 10px auto;
	width:50%;
	top:5px;
}

img.pagelogo{
	margin-top:10px;
	width:40%;
	margin-bottom:10px;
}

/* First Expansion Level */
@media screen and (min-width: 660px){
  section.wrapper{
    padding-top:10px;
    padding-left:5px;
    padding-right:10px;
  }

  img.pagelogo{
  	margin-top:10px;
  	width:25%;
  	margin-bottom:10px;
  }

  iframe.embedded-video{
  width:400px;
  height:220px;
  }
}
/* Full size shit */
@media screen and (min-width: 1000px){
  aside.right-sidebar{
    display:block;
  }

  #splashlogo{
    margin: 40px auto;
  	width:30%;
  	top:5px;
  }

}
