---
layout: splash
title: YurtSki
subTitle: Montana Backcountry Skiing & Lodging in the Swan Range
---

<h1 class=""> Come seek refuge at YurtSki this winter!</h1>

<p class="pt6 txt-m txt-em">Unforgettable Montana backcountry lodging & skiing experience.</p>

{% include offerings.html %}

<p>At Yurtski we pride ourselves in providing unforgettable backcountry skiing experiences. Our goal is for people to enjoy the beauty of the Swan Range safely and in comfort while getting some incredible powder turns.
</p>

<p>Our yurts lie deep in the Montana backcountry and offer unparalleled access to some of Montana’s best powder skiing. Our immediate terrain is situated off a large horseshoe shaped ridge with finger ramps that separate the area into three main bowls which funnel back down to the yurts. The skiing ranges from mellow glades to steep wide open bowls. The area offers exceptional views of the Missions, Swans, and the Bob Marshall/Scapegoat Wilderness and has endless potential.

<p>So check out the video below for a glimpse at a day in life at YurtSki, and then get a group together for an experience that will last a life time!</p>

<div class="align-center">
<iframe class="embedded-video" src="https://www.youtube.com/embed/cQxT1Rym_48" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="mt24 mb24 align-center">
  <img class="mx-auto" src="img/somuchsnow-medium.jpg">
  <p class="mx-auto txt-em">Alpine Yurt, February 2018</p>
</div>

<p class="txt-em">In accordance with Federal law and U.S. Department of Agriculture policy, this institution is prohibited from discriminating on the basis of race, color, national origin, sex, age, or disability. (Not all prohibited bases apply to all programs.)<br>To file a complaint of discrimination: write USDA, Director, Office of Civil Rights, Room 326-W, Whitten Building, 1400 Independence Avenue, SW, Washington D.C. 20250-9410 or call (202) 720-5964 (voice and TDD). USDA is an equal opportunity provider and employer.</p>


{% include bottom_text.html %}
