<style>
#banner{
	position:relative;
	width:100%;
	/*z-index:10;*/
	left:0;
	right:0;
	background-color:#444;
	/*padding-left:10px;*/
	text-align:center;
	border-bottom:2px solid white;
	border-top:2px solid white;
}

#banner h6{
	padding:12px;
	margin:0px;
	padding-left:25px;
	font-size:1rem;
	font-weight:600;
}

.banner-link{
	background-color:#66ABDF;
	color: #EEE;
	border-radius:5px;
	padding:5px;
	text-decoration:none;
	margin: 0px 5px;
	border: 1px solid white;
}

.banner-link:hover{
	color:#FFF;
}

#close-button{
	background-color:maroon;
	color:white;
	padding: 3px 9px;
	border-radius:3px;
	float:right;
	z-index:10;
	display:inline-block;
	margin:10px 30px;
	border: 1px solid white;
}

#close-button:hover{
	background-color:darkred;
	cursor:pointer;
}

</style>
<div id="banner">
	<p id='close-button'>x</p>
	<h6 class="yurtski-yellow">Check out our <strong><span class="yurtski-blue">NEW LOCATION</span></strong> in The Big Belts! <a class="banner-link" target="_blank" href="//bigbelthut.com">bigbelthut.com</a> 25% off if you book before 2019! </h6>
	
</div>
<script>
	document.getElementById('close-button').addEventListener('click',function(){
		document.getElementById('banner').style.display='none';	
	})
</script>