<!-- Footer -->
<footer>
    <section class="wrapper border-t mt24 pt12 border--gray-light">
        <div class="align-center">
            
            <a target="_blank" class="mr24" href="//facebook.com/yurtski"><img class="social" src="/img/icon/facebook.png"></a>
            
            <a target="_blank" href="//instagram.com/yurtskimt"><img class="social mr24 mt3" src="/img/icon/instagram.png"></a>
            
            <p class="inline pl12 txt-l"><a href="#" class='mt6 btn btn--gray cursor--pointer'>Book Now</a></p>
        </div>
        <p class="align-center">&copy; 2018 Montana Backcountry Yurts, LLC dba. YurtSki All Rights Reserved.</p>
    </section>
</footer>