<div id='right-hand-sidebar'>

	<div class="align-center">

		<p class="pl12 txt-em txt-l">Follow us on Facebook and Instagram</p>

		<a target="_blank" class="mr12" href="//facebook.com/yurtski">
			<img class="social" src="/img/icon/facebook.png">
		</a>

		<a target="_blank" href="//instagram.com/yurtskimt">
			<img class="social mt3" src="/img/icon/instagram.png">
		</a>

	</div>

	<p class="pl12 mt12 txt-em txt-l align-center">Lookup availability and reserve a yurt online!</p>

	{% include booknow.html %}

	<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">

	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left;}
		#mc_embed_signup label{
			font-size:18px;
			font-weight:400;
			text-align:center;
		}
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup" class="mt24 border-t">
		<form action="https://yurtski.us18.list-manage.com/subscribe/post?u=dc8e9255c759835ea62f6c1ee&amp;id=1dcfb26627" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">
		<label for="mce-EMAIL" class="txt-em txt-l">Subscribe to our mailing list</label>
		<input type="email" value="" name="EMAIL" class="email w180" id="mce-EMAIL" placeholder="email address" required>
	    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc8e9255c759835ea62f6c1ee_1dcfb26627" tabindex="-1" value=""></div>
	    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn round btn--m btn--gray cursor--pointer"></div>
	    </div>
	</form>
	</div>

	<div class="mt24 border-t">
		<h4 class="py12 txt-em txt-l align-center">Contact Us</h4>

		<a class="link" href="mailto:info@yurtski.com">
		<svg class='inline icon'><use xlink:href='#icon-mail'/></svg> info@yurtski.com</a>

		<br>

		<a class="link" href="tel:+14068484824"><svg class='inline icon'><use xlink:href='#icon-user'/></svg> (406) 848-4824</a>
	</div>

</div>
