<div id='right-hand-sidebar'>
	<p class="pl12 txt-em txt-l">Follow us on Facebook and Instagram for updates</p>

	<br>

	<div class="align-center">

		<a target="_blank" class="mr12" href="//facebook.com/yurtski">
			<img class="social" src="/img/icon/facebook.png">
		</a>

		<a target="_blank" href="//instagram.com/yurtskimt">
			<img class="social mt3" src="/img/icon/instagram.png">
		</a>
	</div>

	<p class="pl12 mt12 txt-em txt-l">Click below to lookup availability and reserve a yurt online!</p>
	<div class="align-center">
		<a href="#" class='mt24 btn btn--gray cursor--pointer'>Book Now!</a>
	</div>

</div>