body{
  margin:10px;
  padding:5px;
  max-width:600px;
  margin: 0 auto;
}

section.waiver-section{
  margin-bottom:20px;
  font-family:monospace;
}

section.waiver-section ul{
  list-style-type: none;
}
