---
layout: page
title: What We Offer
navigation_title: Prices
permalink: /prices
order: 2
header: '/img/skinning.jpg'
---

<h2 class="txt-h2 pb6">Rates</h2>
<p>Each of our yurts cost <strong>$50 per person</strong> per night with varying minimums depending on weekdays or weekends/holidays.</p>

<h4 class="txt-h4 mt12">Yurt Minimums</h4>

<p>Booking is exclusive to a single party per yurt. Nightly minimums allow us to keep bookings exclusive such that you do not share the yurt with another party. Nightly minimums are as follows:</p>
<div class="align-center px36">
	<table class="table">
			<tr>
				<td></td>
				<th>Weekday <br>(Sun - Thurs)</th>
				<th>Weekend <br>(Fri, Sat, Holiday)</th>
			</tr>
			<tr>
				<th>Lupine Yurt</th>
				<td> $100 </td>
				<td> $200 </td>
			</tr>
			</tr>
				<th>Alpine Yurt</th>
				<td> $200 </td>
				<td> $300 </td>
			</tr>
	</table>
</div>

<p class="mt6">Each yurt sleeps 8 people comfortably, but you are more than welcome to bring as many friends as you would like at $50 per person.</p>

<p class="mt12">If you would like to share the yurt with others or would like more more people to split a nightly minimum, we encourage you to advertise your trip on our <a class="link" target="blank" href="http://facebook.com/yurtski.com/">facebook page</a> to find other skiers.</p>

<h2 class="txt-h2 mt24">Snowmobile Gear Haul + Tow</h2>
<p class="">We have large gear hauling toboggans to take the weight off your back (and allow you to bring more beer)! The snowmobile route to the yurt is 11 miles. <strong>We will tow your gear all the way to the yurt</strong>.</p>

<p>The ski route to the yurt is only 8 miles. Gear haul includes a tow rope for members of your group for all but 1.5 miles of the 8 mile ski. These 1.5 miles include a 1,500ft climb. If there is a lot of new snow, our snowmobile driver will bring his skis and can break in the skin track for you if requested. <a target="_blank" class="link" href="#">Click here for the map.</a></p>

<!-- <p>If your group wants to be towed all the way to the yurt along the 11 mile snowmobile road, our driver will make an extra trip for the cost of an extra toboggan. This decision can be made at the trailhead.</p -->

<p>Each toboggan is approximately 3' by 8' and can carry up to 400 lbs of gear. A group of 6 for 3 nights can usually fit all of their gear in one toboggan.</p>
<div class="align-center px36">
	<table class="table">
			<tr>
				<td></td>
				<th>First Toboggan<br></th>
				<th>Second Toboggan<br></th>
			</tr>
			<tr>
				<th><strong>Haul In</th>
				<td> $300 </td>
				<td> $200 </td>
			</tr>
			<tr>
				<th><strong>Haul Out</th>
				<td> $300 </td>
				<td> $200 </td>
			</tr>
	</table>
</div>


<p

</p>

<p></p>

<!--


<div class='flex-parent flex-parent--wrap'>

	<div class='flex-child flex-child--no-shrink w360 px12 pb12 border-b'>
		<h2 class="py6 align-center">Lupine Yurt</h2>
		<img src='/img/lupine-yurt-snow.jpg'>
 		Sleeps 8 guests at approximiately 6,600 feet.
		{% include booknow.html %}
	</div>

	<div class='flex-child flex-child--no-shrink w360 px12 pb12 border-b'>
		<h2 class="py6 align-center">Alpine Yurt</h2>
		<img src='/img/alpine-yurt.png'>
		Sleeps 8 guests at approxmimately 6,800 feet.
		{% include booknow.html %}
	</div>

	<div class='flex-child flex-child--no-shrink w360 pt24 px12'>
		<h2 class="py6 align-center">Gear Haul</h2>
		<img src='/img/gearhaul.jpg'>
		<p>Take the weight off your back and let us haul in your food, drink and equipment. $65 per person. Click <em>Book Now</em> below to see the gear haul availability schedule.</p>
		{% include booknow.html %}
	</div>

	<div class='flex-child flex-child--no-shrink w360 pt24 px12'>
		<h2 class="py6 align-center">Classes &amp; Clinics</h2>
		<img src='/img/classes.jpg'>
		<p>Attend a backcountry skiing clinic or an avalanche safety course at the yurts! For the most up-to-date information, see our <a class="link" href="//facebook.com/yurtski/">Facebook Page</a>.</p> If you'd like to run a course or clinic, please <a class="link" href="mailto:info@yurtski.com">contact us</a>, we'd love to work with you!
	</div>

</div> -->

{% include bottom_text.html %}
