---
layout: page
title: What We Offer
navigation_title: Prices
permalink: /pricing/
order: 2
header: '/img/skinning.jpg'
---

{% include offerings.html %}

<h2 id="rentals" class="txt-h2 pb6">Yurt Rates</h2>

<p>Each of our yurts cost <strong>$55 per person</strong> per night with varying minimums depending on weekdays or weekends/holidays.</p>
<div class="align-center px36">
<table class="table">
	<tr>
		<td style="max-width:40px;">Per Person Per Night</td>
		<th>$55</th>
	</tr>
</table>
</div>

<h4 class="txt-h4 mt12">Yurt Minimums</h4>

<p>Booking is exclusive to a single party per yurt. Nightly minimums allow us to keep bookings exclusive such that you do not share the yurt with another party. Nightly minimums are as follows:</p>
<div class="align-center px36">
	<table class="table">
			<tr>
				<td></td>
				<th>Weekday <br>(Sun - Thurs)</th>
				<th>Weekend <br>(Fri, Sat, Holiday)</th>
			</tr>
			<tr>
				<th>Lupine Yurt</th>
				<td> $110 minimum<br>(or 2 people)</td>
				<td> $220 minimum<br>(or 4 people)</td>
			</tr>
			</tr>
				<th>Alpine Yurt</th>
				<td> $220 minimum<br>(or 4 people)</td>
				<td> $330 minimum<br>(or 6 people)</td>
			</tr>
	</table>
</div>

<p class="mt6">Each yurt sleeps 6-8 people comfortably, but you are more than welcome to bring as many friends as you would like at $55 per person.</p>

<p class="mt12">If you would like to share the yurt with others or would like more more people to split a nightly minimum, we encourage you to advertise your trip on our <a class="link" target="blank" href="http://facebook.com/yurtski.com/">facebook page</a> to find other skiers.</p>

{% include booknow.html %}




<!-- GEAR HAUL -->





<h2 id="gear-haul" class="txt-h2 mt24">Snowmobile Gear Haul + Tow</h2>
<p class="">We have large gear hauling toboggans to take the weight off your back (and allow you to bring more beer)! The snowmobile route to the yurt is 11 miles. <strong>We will tow your gear all the way to the yurt</strong>.</p>

<p>The ski route to the yurt is only 8 miles. Gear haul includes a tow rope for members of your group for all but 1.5 miles of the 8 mile ski. These 1.5 miles include a 1,500ft climb. If there is a lot of new snow, our snowmobile driver will bring his skis and can break in the skin track for you if requested. We will send you maps and more informtion with confirmation of your reservation. </p>

<p>To accommodate guests to both yurts, we offer two fixed times for gear hauls: <strong>8:30am</strong> and <strong>11:30am</strong>. These are first-come, first-serve time slots purchased online with your reservation at the base prices below. If you would like to book <strong>any time</strong> that works better for your group, perhaps after work or one of the fixed times already reserved by another party, our gear haul drivers are happy to accomodate for a $50 surcharge.</p>

<div class="align-center px36">
	<table class="table">
			<tr>
				<td></td>
				<th>First Toboggan<br></th>
				<th>Each Additional Toboggan<br></th>
			</tr>
			<tr>
				<td><strong>Haul In</strong><br>8:30am or 11:30am</td>
				<td> $300 </td>
				<td> $200 </td>
			</tr>
			<tr>
				<td><strong>Haul In</strong><br>Any time of your choosing</td>
				<td> $350 </td>
				<td> $200 </td>
			</tr>
			<tr>
				<th><strong>Haul Out</th>
				<td> $300 </td>
				<td> $200 </td>
			</tr>
	</table>
</div>

<p class="mt12">We will coordinate your gear haul out time at the trailhead.</p>

<p class="mt12">Each toboggan is approximately 3' by 8' and can carry up to 350 lbs. A group of 6 for 3 nights can usually fit all of their gear in one toboggan. We will try to fit your gear into one toboggan; however, if an additional gear haul is required, we charge an additional $200 per toboggan.</p>

<p class="mt12"><strong>How To Book: </strong><a class="link" href="/book/">Reserve a yurt</a> and add the Gear Haul items as add-on items at checkout.</p>




<!-- CATERING -->





<h2 id="catering" class="txt-h2 mt24">Catering</h2>
<p class="py6">Forget about planning a menu, let YurtSki take care of the cooking and cleaning for you!</p>

<p>Our chef will work with your group before your trip to plan a custom menu that fulfills all of your culinary desires while meeting any and all dietary restrictions and preferences.</p>

<div class="align-center px36">
	<table class="table">
		<tr>
			<td style="max-width:40px;"><strong>Per Night</strong><br>Includes all meals while at the yurt: breakfast, lunch, and a 3 course dinner.</td>
			<th>$500</th>
		</tr>
	</table>
</div>

<p class="txt-em mt12 mb6">Available for groups of 6 - 8 at the Alpine Yurt only.</p>
<p class="txt-em mt6">Alochol is not included, though wine and beer pairings may be suggested.</p>

<p class="mt12  pb24 border-b"><strong>How To Book: </strong></strong><a class="link" href="/book/">Reserve the <em>Alpine Yurt</em></a> and choose "Catered Trip" as an add-on at checkout.</p>





<!-- RENTAL POLICY -->




<h2 class="txt-h2 mt24 pb12">Yurt Rental Policy</h2>
<p>YurtSki requires a <strong>50% nonrefundable deposit </strong>at the time of booking.</p>
<p>There is a "Pay Now" link in your invoice that lets you pay the remaining balance up to 30 days before your trip.  <strong><em>We will charge any outstanding balance to your credit card 30 days prior to your trip. </em></strong>If booking less than 30 days in advance, we require you to pay in full.
</p>

<!-- use this link when we go live: https://yurtski.checkfront.com/reserve/?login=1 -->

<p>Using the "Pay Now" link also allows you to login or create an account (simple and free) with <a class="link" href="https://yurtski.checkfront.com/reserve/?date=20181203&category_id=2&login=true" target="_blank">yurtski.checkfront.com</a>, where you can <em>modify</em> or <em>cancel</em> your bookings up to 30 days prior to your start date. Perhaps you decided you want a gear haul? Maybe an extra toboggan? You can do it all online!</p>

<h4 class="txt-h4 mt12 py6">Cancellation</h4>

<p>You can cancel your trip up to 30 days prior to your start date <a class="link" href="https://yurtski.checkfront.com/reserve/?date=20181203&category_id=2&login=true" target="_blank">online</a>, by email: <a class="link" href="mailto:info@yurtski.com">info@yurtski.com</a>, or by phone: <a class="link" href="tel:+14068484824">(406) 848-4824</a>. Your deposit will not be refunded, but you will not be charged for the remaining balance.</p></li>

<p><em>Trips cancelled less than 1 month prior to the start date are still required to be paid in full and are nonrefundable. We will charge the remaining balance to the card used at booking.</em></p></li>

{% include bottom_text.html %}
