---
layout: page
title: What We Offer
navigation_title: Prices
permalink: /pricing
order: 2
header: '/img/skinning.jpg'
---

<h2 class="txt-h2 pb6">Yurt Rates</h2>

<p>Each of our yurts cost <strong>$50 per person</strong> per night with varying minimums depending on weekdays or weekends/holidays.</p>
<div class="align-center px36">
<table class="table">
	<tr>
		<td style="max-width:40px;">Per Person Per Night</td>
		<th>$50</th>
	</tr>
</table>
</div>

<h4 class="txt-h4 mt12">Yurt Minimums</h4>

<p>Booking is exclusive to a single party per yurt. Nightly minimums allow us to keep bookings exclusive such that you do not share the yurt with another party. Nightly minimums are as follows:</p>
<div class="align-center px36">
	<table class="table">
			<tr>
				<td></td>
				<th>Weekday <br>(Sun - Thurs)</th>
				<th>Weekend <br>(Fri, Sat, Holiday)</th>
			</tr>
			<tr>
				<th>Lupine Yurt</th>
				<td> $100 minimum<br>(or 2 people)</td>
				<td> $200 minimum<br>(or 4 people)</td>
			</tr>
			</tr>
				<th>Alpine Yurt</th>
				<td> $200 minimum<br>(or 4 people)</td>
				<td> $300 minimum<br>(or 6 people)</td>
			</tr>
	</table>
</div>

<p class="mt6">Each yurt sleeps 8 people comfortably, but you are more than welcome to bring as many friends as you would like at $50 per person.</p>

<p class="mt12">If you would like to share the yurt with others or would like more more people to split a nightly minimum, we encourage you to advertise your trip on our <a class="link" target="blank" href="http://facebook.com/yurtski.com/">facebook page</a> to find other skiers.</p>

<h2 class="txt-h2 mt24">Snowmobile Gear Haul + Tow</h2>
<p class="">We have large gear hauling toboggans to take the weight off your back (and allow you to bring more beer)! The snowmobile route to the yurt is 11 miles. <strong>We will tow your gear all the way to the yurt</strong>.</p>

<p>The ski route to the yurt is only 8 miles. Gear haul includes a tow rope for members of your group for all but 1.5 miles of the 8 mile ski. These 1.5 miles include a 1,500ft climb. If there is a lot of new snow, our snowmobile driver will bring his skis and can break in the skin track for you if requested. <a target="_blank" class="link" href="#">Click here for the map.</a></p>

<!-- <p>If your group wants to be towed all the way to the yurt along the 11 mile snowmobile road, our driver will make an extra trip for the cost of an extra toboggan. This decision can be made at the trailhead.</p -->

<p>To accomdate guests to both yurts, we offer two fixed times for gear hauls: <strong>8:30am</strong> and <strong>11:30am</strong>. These are first-come, first-serve time slots purchased online with your reservation at the base prices below. If you would like to book any other time that works better for your group, perhaps after work or one of the fixed times already reserved by another party, our gear haul drivers are happy to accomodate for a $50 surcharge.</p>

<div class="align-center px36">
	<table class="table">
			<tr>
				<td></td>
				<th>First Toboggan<br></th>
				<th>Each Additional Toboggan<br></th>
			</tr>
			<tr>
				<td><strong>Haul In</strong><br>8:30am or 11:30am</td>
				<td> $300 </td>
				<td> $200 </td>
			</tr>
			<tr>
				<td><strong>Haul In</strong><br>Any time of your choosing</td>
				<td> $350 </td>
				<td> $200 </td>
			</tr>
			<tr>
				<th><strong>Haul Out</th>
				<td> $300 </td>
				<td> $200 </td>
			</tr>
	</table>
</div>

<p class="mt12">We will coordinate your gear haul out time at the trailhead.</p>

<p class="mt12">Each toboggan is approximately 3' by 8' and can carry up to 400 lbs of gear. A group of 6 for 3 nights can usually fit all of their gear in one toboggan.</p>

<p class="pb24 border-b">We will try to fit your gear into one toboggan; however, if an additional gear haul is required, we charge an additional $200 per toboggan.</p>

<h2 class="txt-h2 mt24">Yurt Rental Policy</h2>
<ul>
	<li><p>We collect 100% of your trip cost up front at the time of your booking.</p></li>
	<li><p>Each yurt is exclusive, we do not offer open beds to other parties.</p></li>
</ul>

<h4 class="txt-h4 mt12">Cancellation</h4>
<p>You can cancel your reservation for a 50% refund up to 30 days prior to your trip start date. After that we cannot offer a refund. To cancel, please <a class='link' href="mailto:info@yurtski.com">email</a> or call us at <a class="link" href="tel:+14068484824">(406) 848-4824</a></p>

<!--


<div class='flex-parent flex-parent--wrap'>

	<div class='flex-child flex-child--no-shrink w360 px12 pb12 border-b'>
		<h2 class="py6 align-center">Lupine Yurt</h2>
		<img src='/img/lupine-yurt-snow.jpg'>
 		Sleeps 8 guests at approximiately 6,600 feet.
		{% include booknow.html %}
	</div>

	<div class='flex-child flex-child--no-shrink w360 px12 pb12 border-b'>
		<h2 class="py6 align-center">Alpine Yurt</h2>
		<img src='/img/alpine-yurt.png'>
		Sleeps 8 guests at approxmimately 6,800 feet.
		{% include booknow.html %}
	</div>

	<div class='flex-child flex-child--no-shrink w360 pt24 px12'>
		<h2 class="py6 align-center">Gear Haul</h2>
		<img src='/img/gearhaul.jpg'>
		<p>Take the weight off your back and let us haul in your food, drink and equipment. $65 per person. Click <em>Book Now</em> below to see the gear haul availability schedule.</p>
		{% include booknow.html %}
	</div>

	<div class='flex-child flex-child--no-shrink w360 pt24 px12'>
		<h2 class="py6 align-center">Classes &amp; Clinics</h2>
		<img src='/img/classes.jpg'>
		<p>Attend a backcountry skiing clinic or an avalanche safety course at the yurts! For the most up-to-date information, see our <a class="link" href="//facebook.com/yurtski/">Facebook Page</a>.</p> If you'd like to run a course or clinic, please <a class="link" href="mailto:info@yurtski.com">contact us</a>, we'd love to work with you!
	</div>

</div> -->

{% include bottom_text.html %}
