<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		<div id="splash-header" class=' header-img flex-parent flex-parent--center-main viewport-twothird'>

			<div class="flex-child">
			
				<img class="animation-fade-in animation--speed-1" id="splashlogo" src="/img/logo-large.png" />
			</div>

		</div>

		{% include navigation.html %}

		<section class="wrapper">

	    	<div class="flex-parent">
				<div class="flex-child flex-child--grow">
					{{ content }}
				</div>

				<aside class='flex-child flex-child--no-shrink w180 right-sidebar'>
					{% include sidebar-right.html %}
				</aside>
	    	</div>

	    </section>
		
		{% include footer.html %}
	</body>
</html>
